<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Edit Activity</h1>
      <%= form_for(@activity, html: {multipart: true}) do |activity| %>
        <div class="form-group">
          <p>Name: <%= activity.text_field :name, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <p>Description: <%= activity.text_area :description, class: 'form-control'%></p>
        </div>
        <div class="form-group">
          <p>Location: <%= activity.text_field :location, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <p>Upload an Image: <%= activity.file_field :image %></p>
        </div>
        <div>
          <p><%= activity.submit('save activity', class: 'btn btn-default')%></p>
        </div>
      <% end %>
