<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Activities</h1>

    <table class="table table-hover">
      <tr> 
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @activities.each do |item| %>
       <tr>
          <td> <%= item.name %> </td>
          <td> <%= item.date %> </td>
          <td> <%= item.time %> </td>
          <td> <%= item.location %> </td>

          <td>
            <%= link_to activity_path(activity.id), class: "btn btn-info" do %>
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %> 
          </td>
          <td>
            <%= link_to edit_activity_path(activity.id), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to activity_path(activity.id), method: :delete, class: "btn btn-warning" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
       
  </div>
</div>
